.title {
  // Space from top.
  margin-top: 10px;
  // Space below.
  margin-bottom: 30px;
}

.button-div {
  // Space from bottom.
  margin-bottom: 20px;
}

// Never show more than one mat-error.
mat-error + mat-error {
  display: none;
}

// Space between right and left button.
.right-button {
  margin-right: 10px;
}
